set timeout=10
set default=0

menuentry "Ubuntu Desktop 24.04" {
        set isofile="/iso/ubuntu-24.04.4-desktop-amd64.iso"
        set iso_path="$isofile"
        export iso_path
        immod tpm
        search --set=root --file "$isofile"
        loopback loop_desktop $isofile
        set root=(loop_desktop)
        configfile /boot/grub/loopback.cfg # This line tells GRUB to load the configuration file from the ISO. Make sure that the path to the configuration file is correct and that the file exists in the ISO.
}

menuentry "Ubuntu Server 24.04" {
        set isofile="/iso/ubuntu-24.04.4-live-server-amd64.iso"
        set iso_path="$isofile"
        export iso_path
        immod tpm
        search --set=root --file "$isofile"
        loopback loop_server $isofile
        set root=(loop_server)
        configfile /boot/grub/loopback.cfg
}

menuentry "Reboot" {
  reboot
}

menuentry "Power Off" {
  halt
}
